.all {
    display: flex;
    flex-direction: column;
}

.backImgArea {
    width: 20vw;
    margin-top: 7vh;
}

.backImg {
    width: 0.8vw;
}

.backImg:hover{
    cursor: pointer;
}

.Texts{
width: 18vw;
height: 7vh;
margin-top:3.5vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.todayNews{
    font-size: 23px;
    font-weight: bold;
}

.newsContent{
    color: #4D5969;
    font-size: 15px;
}

.category{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.cateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 3vh;
    font-weight: 590;
    font-size: 16px;
    border-radius: 8px;
    color: #5488FD;
}
.cateBtn:hover{
    cursor: pointer;
}
.cateBtn:focus{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: 590;
    font-size: 16px;
    color: white;
    width: 4vw;
    height: 3vh;
    font-weight: 590;
    background-color: #5488FD;
    border: none;
}
.newsArea{
    margin-top: 2vh;
    margin-bottom: 3vh;
    height: 73vh;
    width: 22vw;
    overflow: scroll;
}