.App {
  text-align: center;
  padding: 20px;
}

.start-page {
  margin-top: 50px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  width: 80%;
  max-width: 300px;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.box {
  height: 100vh;
  aspect-ratio: 9/20;
  background-color: white;
}