/* src/components/StartPage.css */

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 로고와 버튼 사이의 공간을 균등하게 배치 */
    align-items: center;
    height: 100vh; /* Viewport height to cover the full screen */
    background-color: white; /* Background color is white */
    padding: 20px;
    box-sizing: border-boxA
}

.start-logo {
    width: 120px; /* 로고의 가로 크기 */
    height: auto; /* 로고의 세로 크기를 자동으로 조절 */
    margin-top: 200px; /* 로고를 상단으로 올리는 여백 */
}

.start-button {
    width: 100%;
    max-width: 400px; /* Max width for larger screens */
    padding: 15px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    ; /* Space from the bottom */
    margin-top: 300px;
    font-weight: bold;
}

.start-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05);
}

.login-link {
    margin-top: 10px; /* Space above the login link */
    text-align: center;
    font-size: 16px; /* Font size for the text */
    color: #333; /* Dark color for better readability */
}

.login-link a {
    color: #007bff; /* Blue color for the link */
    text-decoration: none; /* Remove underline */
}

.login-link a:hover {
    text-decoration: underline; /* Underline on hover */
}
