/* src/components/LoginPage.css */

.done-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Viewport height to cover the full screen */
    background-color: white; /* Background color is white */
    padding: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    margin-top: 10px;
    margin-bottom: 80px ;
    font-size: 24px;
    color: #333; /* Dark color for better readability */
    text-align: left;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    font-weight: 700;
}

.description-text {
    margin-left: 20px;
    font-size: 16px;
    color: gray; /* Gray color for the description text */
    text-align: left;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 150px; /* Add spacing after the paragraph */
}
  
.input-field {
    width: 100%;
    max-width: 400px; /* Max width for larger screens */
    margin-bottom: 20px;
    padding: 10px;
    border: none; /* Remove the default border */
    border-bottom: 2px solid #007bff; /* Blue underline */
    border-radius: 0; /* Remove the border-radius */
    font-size: 20px;
    outline: none; /* Remove the default outline on focus */
    color: #007bff;
    font-weight: bold;
}

.input-field:focus {
    border-bottom: 2px solid #0056b3; /* Darker blue underline on focus */
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); /* Optional: subtle shadow for focus effect */
    border-bottom-width: 3px;
}
  
  .done-button {
    margin-top: 200px;
    margin-bottom: 100px ;
    width: 100%;
    max-width: 400px; /* Max width for larger screens */
    padding: 15px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
  }
  
  .done-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05)
  }
  
  @media (max-width: 480px) {
    .done-container {
      padding: 10px;
    }
  }
  
